*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family: Tahoma sans-serif;
    color: #202020;
}
.header{
    background-color: #f1f1f1;
    padding: 22px 0;
}
.header-container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav-link{
    /* Style for "Подписка" */
    width: 61px;
    height: 12px;
    color: #202020;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-left: 11px;
    margin-right: 11px;
    /* Text style for "Подписка" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none;
}
.logo{
    /* Style for "Книжный" */
width: 80px;
height: 14px;
color: #202020;
font-family: Tahoma;
font-size: 14px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
text-transform: uppercase;
/* Text style for "Книжный" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.login{
    /* Style for "Личный каб" */
width: 107px;
height: 12px;
color: #202020;
font-family: Tahoma;
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
/* Text style for "Личный каб" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-decoration: none;
}
.hero{
    padding-top: 60px;
    padding-bottom: 71px;
}
.hero-conteiner{
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}
.hero-img{
    margin-right: 122px;
}
.autor{
    display: block;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 22px;
}
.about-title{
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0;
}
.subtitle{
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 48px;
}
.info{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 49px;
}
.info-text{
    font-size: 16px;
    font-weight: 400;
    flex-basis: 50%;
    margin-bottom: 16px;
}
.prisetag{
    font-weight: 400;
    font-size: 55px;
    margin-right: 64px;
}
.fovorites{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    padding-left: 70px;
}
.button{
    font-size: 16px;
    font-weight: 700;
    padding: 22px 50px;
    border-radius: 5px;
    border: 2px solid #f89c02;
}
.button-primary{
    background-color: #f89c02;
    color: #ffff;
    border: none;
    margin-top: 48px;
    margin-right: 20px;
}
.button-outline{
    border: 2px solid #f89c02;
    color: #f89c02;
    text-decoration: none;
}
.about{
    background-color: #f1f1f1;
    padding: 99px 0px;
}
.about-container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}
.about-book{
    max-width: 454px;
    max-height: 208px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
}
.about-autor{
    display: flex;
    flex-wrap: wrap;
    max-width: 552px;
    box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    background-color: #ffffff;
    padding: 68px 53px;
    align-items: center;
}
.autor-text{
    flex-basis: 100%;
    margin-top: 24px;
    width: 381px;
    height: 64px;
}
.autor-link{
    text-decoration: none;
    color: #202020;
}
.autor{
    margin-right: 21px;
}
.autor-name{
    margin-bottom: 14px;
}